.about {
    margin: 10px;
    width: 30%;
    max-width: 400px;
    background-color: white;
    padding: 10px;
    float: left;
    text-align: center;

}

.my-wishlist {
    width: 40%;
    margin: 20px auto;
    float: right;
}

.profile-picture {
    width: 90%;
}

.edit {
    width: 18px;
    padding-left: 10px;
    transition: transform .2s;
}

.edit:hover, .edit:active {
    transform: scale(1.25);
    cursor: pointer;
}
