body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(255, 249, 250);
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

input {
  font-family: 'Nunito', sans-serif;
}

button {
  font-family: 'Nunito', sans-serif;
}
